.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  font-size: x-large;
  font-weight: 800;
}

.walletbtn {
  font-size: large;
  font-weight: 800;
  border: 1px solid;
  border-radius: 100px;
  padding: 0.25rem 1rem;
}
